
<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">History</h2>
		</div>
		<div class="col-6 text-end">
@*			<a asp-page="upsert" class="btn btn-primary">
				<i class="bi bi-plus-square"></i> &nbsp;Create New Menu Item
			</a>*@
		</div>
	</div>

	<br /><br />

	<table id="DT_load" class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>Product Name</th>
                <th>Picture</th>
                <th>Price</th>
                <th>Quantity</th>
				<th>Sub Total</th>
				<th>Purchase Date</th>
			</tr>
		</thead>
	</table>

</div>

@section Scripts{
	<script src="~/js/history.js"></script>
}
